includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: 5

    excludePaths:
        - ./app/Listeners/*
        - ./app/Exceptions/Handler.php

    checkMissingIterableValueType: false
